@import "bootstrap-variable-override";
@import "~bootstrap/scss/bootstrap.scss";

// color
.facebook {
  color: #3C5193;
}

.tooltip-inner{ background:#525670;}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #525670 !important;
}

.twitter {
  color: #3CA9FF;
}

.depth-1 {
  box-shadow: 9px 8px 16px 0 rgba(0,0,0,0.07);
}

.depth-2 {
  box-shadow: 10px 12px 44px 0 rgba(0,0,0,0.25)
}

.depth-3 {
  box-shadow: 20px 22px 124px 0 rgba(0,0,0,0.5);
}

.text-regular {
  color: #232B36;
}

.text-gray {
  color: #84888F;
}

.main-gradient {
  background: linear-gradient(193.11deg, #685B7A 0%, #445B7C 100%);
}

// customize input form control
input {
  &.form-control {
    background-color: #FAFBFC;
    font-size: 14px;
    height: 46px;

    &.form-control-sm {
      height: 40px;
    }

    &:focus {
      border: 1px solid #C1C7D0;
      color: #232B36;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

// customize select form control
select {
  &.form-control {
    background-color: #FAFBFC;
    background-image: url('assets/img/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 14px;
    height: 46px !important;

    &.form-control-sm {
      height: 40px !important;
    }

    &:focus {
      border: 1px solid #C1C7D0;
      color: #232B36;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}


.input-group {
  .form-control {
    border-right: none;
  }

  .input-group-text {
    background-color: #FAFBFC;
  }
}

form {
  font-size: 14px;
}

// customize confirm modal
.dg-main-content {
  max-width: 500px;

  .dg-title {
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #e9ecef;
  }

  .dg-content {
    padding: 1rem;
  }

  .dg-content-footer {
    .dg-btn--cancel {
      background-color: #0065FF;
      float: right;
      margin-left: 4px;
    }
    .dg-btn--ok {
      color: #0065FF;
      border-color: #0065ff;
    }
  }
}

// customize modal
.livsplan-modal {
  .modal-header {
    padding: 48px;
    border-bottom: none;
    box-shadow: 0px 24px 1px -24px #232B36;
    .close {
      font-size: 48px;
      padding: 0;
      position: absolute;
      top: 24px;
      right: 32px;
      outline: none;

      span {
        color: #A5ADBA;
        font-weight: 300;
      }
    }
  }

  .modal-body {
    label {
      color: #232B36;
      font-size: 14px;
      line-height: 20px;
    }
    form {
      .btn {
        width: 204px;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 600;
        padding: .75rem 1rem;
        margin: 64px auto;
      }
      .invalid-feedback {
        position: absolute;
      }

      .row {
        margin-top: 0.5rem;
      }
    }
  }
}

// customize switch toggle button
.vue-switcher-theme--bootstrap {
  input {
    position: relative !important;
  }
  &.vue-switcher-color--success {
    div {
        background-color: #EF5350 !important;
        width: 40px !important;
        height: 22px !important;

        &:after {
            // for the circle on the switch
            background-color: white !important;
            height: 16px !important;
            width: 16px !important;
            top: 3px !important;
            margin-left: -20px !important;
        }
    }

    &.vue-switcher--unchecked {
        div {
            background-color: #36b37E !important;

            &:after {
              background-color: white !important;
              margin-left: -25px !important;
            }
        }
    }
  }
}

 // customize breadcrumb
 .breadcrumb {
  background: transparent;
  margin-bottom: 14px;
  font-weight: 500;

  .breadcrumb-item {
    font-size: 14px;
    line-height: 20px;
    color: white;
    opacity: 0.5;

    &.active {
      display: none;
    }

    &::after {
      padding-left: 20px;
      font-family: "FontAwesome";
      content: "\f054";
      font-size: 12px;
    }

    &::before {
      content: "";
    }

    a {
      color: white;
    }
  }


}

// customize buttons

.icon-btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 16px;

  i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.plain-btn {
  background-color:transparent;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;

  i {
    margin-right: 4px;
  }
}

.space-divider {
  background-color: #C8C8C8;
  height: 60%;
  width: 1px;
  margin: auto 24px;
}

// typography
h1 {
  line-height: 48px;
}

h2 {
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.font-weigth-medium {
  font-weight: 500;
}
