@import "bootstrap-variable-override";
@import "~bootstrap/scss/bootstrap.scss";

// color
.facebook {
  color: #3C5193;
}

.twitter {
  color: #3CA9FF;
}

.depth-1 {
  box-shadow: 9px 8px 16px 0 rgba(0,0,0,0.07);
}

.depth-2 {
  box-shadow: 10px 12px 44px 0 rgba(0,0,0,0.25)
}

.depth-3 {
  box-shadow: 20px 22px 124px 0 rgba(0,0,0,0.5);
}

.text-regular {
  color: #232B36;
}

.text-gray {
  color: #84888F;
}

.notify-style {
  padding: 10px !important;
  margin: 15px !important;

  font-size: 14px !important;
  font-weight: 700 !important;

  color: #ffffff;
  background: $blue !important;
  border-left: 5px solid #187FE7;

  &.warn {
    background: $yellow !important;
    border-left-color: #f48a06;
  }

  &.error {
    background: $red !important;
    border-left-color: #B82E24;
  }

  &.success {
    background: $green !important;
    border-left-color: #42A85F;
  }
}
// customize input form control
input {
  &.form-control {
    background-color: #FAFBFC;
    font-size: 14px;
    height: 46px;

    &.form-control-sm {
      height: 40px;
    }

    &:focus {
      border: 1px solid #C1C7D0;
      color: #232B36;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    color: #999999;
    line-height: 24px;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

// customize select form control
select {
  &.form-control {
    background-color: #FAFBFC;
    background-image: url('assets/img/down-arrow.svg');
    background-size: 12px;
    font-size: 14px;
    height: 46px !important;

    &.form-control-sm {
      height: 40px !important;
    }

    &:focus {
      border: 1px solid #C1C7D0;
      color: #232B36;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}


.input-group {
  .form-control {
    border-right: none;
  }

  .input-group-text {
    background-color: #FAFBFC;
  }
}

form {
  font-size: 14px;
}



.breadcrumb-item {
  font-size: 14px;
  line-height: 20px;
}

.breadcrumb-item.active {
  color: #84888F !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 12px;
  padding-right: 20px;
  color: #7A869A;
  font-family: "FontAwesome";
  content: "\f054";
  font-size: 12px;
}

.icon-btn {
  font-size: 12px;
  line-height: 24px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  i {
    font-size: 16px;
  }
}

// typography
h1 {
  line-height: 48px;
}

h2 {
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 20px;
}
