
.chart-container {
  border-top: 1px solid #404A65;
}

.incomes, .expenses, .assets, .debts {
  .title-container {
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 24px;

    a {
      opacity: 0.5;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 32px;
      padding: 24px;
      text-decoration: none;

      &.disabled {
        opacity: 1;
      }
    }
  }

  .chart-switcher {
    position: absolute;
    right: 12%;

    span {
      height: 20px;
      width: 63px;
      opacity: 0.59;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;

      &.selected {
        opacity: 1;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1440px) {
    .chart-switcher {
      right: 5%;
    }
  }

  .table-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding: 80px 36px 240px;
      font-size: 14px;

      @media (max-width: 575.98px) {
        margin: auto 14px !important;
        padding: 80px 12px 200px !important;
      }

      @media (min-width: 576px) and (max-width: 1440px) {
        margin: auto 20px !important;
        padding: 80px 20px 200px !important;
      }

      table {
        background: white;

        @media (max-width: 767.99px) {
          thead {
            display: block !important;

            tr {
              display: flex;
              justify-content: space-between;
            }
          }

          .add-new-row {
            margin: 5px 8px !important;
          }

          .table-title-label {
            margin-left: 2px !important;
            margin-right: 10px !important;
          }

        }

        @media (max-width: 575.98px) {
          .add-new-row {
            margin: 10px 8px !important;
          }

          .table-title {
            margin-top: 8px;
          }

          .table-title-label {
            margin-top: 16px !important;
          }
        }


        thead {
          th {
            border: none;
            vertical-align: middle;
            outline: none;

            .table-title {
              font-size: 24px;
              line-height: 32px;
              color: #434343;
            }

            .table-title-label {
              width: 24px;
              height: 24px;
              border: 3px solid #D8D8D8;
              border-radius: 20px;
              margin-left: 12px;
              margin-right: 12px;
              margin-top: 10px;
            }

            .add-new-row {
              border-radius: 30px;
              margin: 30px;
            }

            &.sorting::before {
              top: 38px;
              margin-left: 0.45em;
              vertical-align: 0.1em;
              border-right: 0.5em solid transparent;
              border-left: 0.5em solid transparent;
              border-top: 0;
              border-bottom: .5em solid;
              content: "";
              width: 0;
              height: 0;
              border-radius: 15%;
            }

            &.sorting::after {
              top: 62px;
              font-size: 24px;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              border-top: 0.3em solid;
              border-right: 0.3em solid transparent;
              border-bottom: 0;
              border-left: 0.3em solid transparent;
              content: "";
              width: 0;
              height: 0;
              border-radius: 15%;
            }

            &.sorting_desc::before, &.sorting_asc::after {
              opacity: 1;
              color: #36b37E;
            }

            @media (max-width: 769px) {
              &.sorting::after, &.sorting::before {
                display: none;
              }
            }

          }
        }

        tbody {
          background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);

          :first-child {
            @media (min-width: 769px) {
              td {
                border: none !important;
              }
            }
          }

          tr {
            td {
              vertical-align: middle;
              border-top: 1px dashed #CACACA;
            }

            &.b-table-top-row {
              input {
                border: none;
              }

              i {
                font-size: 22px;
                color: #A5ADBA;
                margin-left: 12px;
                margin-right: 12px;
              }
            }
          }

          .star-2 {
            color: #c1c7D0;
            margin-right: 14px;
            @media (min-width: 769px) {
              margin-left: 14px;
            }
          }


        }

        @media (max-width: 767.99px) {
          &.b-table.b-table-stacked-md > tbody > tr > :first-child {
            border-top-style: solid;
            border-top-width: 0.3rem;
          }
        }
      }
    }
  }

}

.viewExpense, .viewIncome {
  .title-container {
    max-width: 1440px;
    padding: 85px 34px 16px;
  }

  .card-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding-left: 34px;
      padding-right: 34px;
      padding-bottom: 240px;

      @media (max-width: 1200px) {
        padding-bottom: 200px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
        margin-left: 20px;
      }

      @media (max-width: 576px) {
        padding-left: 12px;
        padding-right: 12px;
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }

  .element-spacer {
    margin-top: 6px;
  }

  .date-spacer {
    min-width: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .car-icon {
    color: #A5ADBA;;
    margin-left: 16px;
    margin-right: 8px;

    @media (max-width: 576px) {
      display: none;
    }
  }
}


