
.chart-container {
  border-top: 1px solid #404A65;
}

.incomes, .expenses, .assets, .debts {
  .title-container {
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 24px;

    a {
      opacity: 0.5;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 32px;
      padding: 24px;
      text-decoration: none;

      &.disabled {
        opacity: 1;
      }
    }
  }

  .chart-switcher {
    position: absolute;
    right: 12%;

    span {
      height: 20px;
      width: 63px;
      opacity: 0.59;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 20px;

      &.selected {
        opacity: 1;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1440px) {
    .chart-switcher {
      right: 5%;
    }
  }

  .table-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding: 80px 36px 240px;
      font-size: 14px;

      @media (max-width: 575.98px) {
        margin: auto 14px !important;
        padding: 80px 12px 200px !important;
      }

      @media (min-width: 576px) and (max-width: 1440px) {
        margin: auto 20px !important;
        padding: 80px 20px 200px !important;
      }
    }
  }

}

.viewExpense, .viewIncome {
  .title-container {
    max-width: 1440px;
    padding: 85px 34px 16px;
  }

  .card-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding-left: 34px;
      padding-right: 34px;
      padding-bottom: 240px;

      @media (max-width: 1200px) {
        padding-bottom: 200px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
        margin-left: 20px;
      }

      @media (max-width: 576px) {
        padding-left: 12px;
        padding-right: 12px;
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }

  .element-spacer {
    margin-top: 6px;
  }

  .date-spacer {
    min-width: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .car-icon {
    color: #A5ADBA;
    margin-left: 16px;
    margin-right: 8px;

    @media (max-width: 576px) {
      display: none;
    }
  }
}


