.incomes {
  .title-container {
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 24px;

    a {
      opacity: 0.5;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 32px;
      padding: 24px;
      text-decoration: none;

      &.disabled {
        opacity: 1;
      }
    }
  }

  .chart-container {
    border-top: 2px solid #404A65;
  }

  .table-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding: 80px 36px 240px;
      font-size: 14px;

      table {
        background: white;

        thead {
          th {
            border: none;
            vertical-align: middle;

            .table-title {
              font-size: 24px;
              line-height: 32px;
              color: #434343;
            }

            .table-title-label {
              width: 24px;
              height: 24px;
              border: 3px solid #D8D8D8;
              border-radius: 20px;
              margin-left: 24px;
              margin-right: 6px;
              margin-top: 10px;
            }

            .table-title-label-icon {
              font-size: 20px;
              position: absolute;
              left: 38px;
              top: 38px;
            }
          }
        }

        tbody {
          background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);

          :first-child {
            td {
              border: none !important;
            }
          }

          tr {
            td {
              vertical-align: middle;
              border-top: 1px dashed #CACACA;
            }
          }

        }

        @media (max-width: 767.99px) {
          &.b-table.b-table-stacked-md > tbody > tr > :first-child {
            border-top-style: solid;
            border-top-width: 0.3rem;
          }
        }
      }

      ul[aria-label="Pagination"] {
        display: flex;
        align-items: center;

        .page-link {
          background: transparent;
          font-size: 13px;
          line-height: 13px;
          border: none;
          color: #4A4A4A;
          display: inline;
        }

        .page-item.active .page-link {
          border-radius: 50%;
          background: #525670;
          color: white;
        }
      }

      .selectPerPage {
        width: 60px;
        background-color: transparent;
        border: none;
      }
    }
  }

}
