.incomes {
  table {

    .table-title-label-icon {
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      left: 32px;
      top: 48px;
    }

    th {
      &[aria-colindex="1"] {
        &.sorting::before, &.sorting::after {
          left: 158px;
        }
      }
      &[aria-colindex="2"] {
        &.sorting::before, &.sorting::after {
          left: 68px;
        }
      }
      &[aria-colindex="3"] {
        &.sorting::before, &.sorting::after {
          left: 60px;
        }
      }
      &[aria-colindex="4"] {
        &.sorting::before, &.sorting::after {
          left: 150px;
        }
      }
      &[aria-colindex="5"] {
        &.sorting::before, &.sorting::after {
          left: 62px;
        }
      }
    }

    @media (max-width: 767.99px) {
      thead {
        tr {
          > :nth-child(2) {
            display: none;
          }

          > :nth-child(3) {
            display: none;
          }

          > :nth-child(4) {
            display: none;
          }

          > :nth-child(5) {
            display: none;
          }
        }
      }
      .table-title-label-icon {
        left: 22px !important;
        top: 20px !important;
      }
    }

    @media (max-width: 575.98px) {

      .table-title-label-icon {
        top: 26px !important;
      }
    }
  }
}
