.debts {
  table {

    th {
      &[aria-colindex="1"] {
        &.sorting::before, &.sorting::after {
          left: 128px;
        }
      }
      &[aria-colindex="2"] {
        &.sorting::before, &.sorting::after {
          left: 56px;
        }
      }
      &[aria-colindex="3"] {
        &.sorting::before, &.sorting::after {
          left: 68px;
        }
      }
      &[aria-colindex="4"] {
        &.sorting::before, &.sorting::after {
          left: 102px;
        }
      }
      &[aria-colindex="5"] {
        &.sorting::before, &.sorting::after {
          left: 162px;
        }
      }

      .table-title-label {
        border-radius: 0 !important;
        width: 21px !important;
      }

      .table-title-label-icon {
        position: absolute;
        left: 30px;
        font-size: 21px;
      }
    }


    @media (max-width: 767.99px) {
      thead {
        tr {
          > :nth-child(2) {
            display: none;
          }

          > :nth-child(3) {
            display: none;
          }

          > :nth-child(4) {
            display: none;
          }

          > :nth-child(5) {
            display: none;
          }
        }

        .table-title-label-icon {
          left: 20px !important
        }
      }

    }
  }
}
