.expense {

  .title-container {
    max-width: 1440px;
    padding: 85px 34px 24px;
  }

  .chart-container {
    border-top: 2px solid #404A65;
  }

  .card-container {
    background: #d9dae7;
    > div {
      max-width: 1440px;
      padding-left: 34px;
      padding-right: 34px;
      padding-bottom: 240px;
    }
  }

  .element-spacer {
    margin-top: 6px;
  }

  .date-spacer {
    min-width: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .space-divider {
    background-color: #C8C8C8;
    height: 60%;
    width: 1px;
    margin: auto 24px;
  }

  .car-icon {
    color: #A5ADBA;
    width: 23px;
    height: 19px;
  }

  .plain-btn {
    background-color:transparent;
    font-size: 12px;
    line-height: 24px;

    i {
      margin-right: 4px;
    }
  }

  // customize card
  .card {
    border-radius: 0;
    span {
      font-size: 14px;
      line-height: 20px;
    }
    &.expense-tabs-card {
      top: -42px;

      .card-header {
        padding: 34px 30px;
        background: white;
        border-bottom: none;

        .card-header-pills {
          outline: none;

          .expense-tab {
            font-size: 24px;
            line-height: 32px;
            color: #84888F;
            &.active {
              color: #434343;
              font-weight: 600;
              background-color: transparent;
            }
          }
        }
      }

      .tab-content {
        padding-top: 28px;
        background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);

        .card-body {
          padding: 0px 0px 28px 0px;

          #autoCalcForm {
            &.custom-is-enabled {
              margin-top: 24px;
            }

            .start_end_year
            {
              text-align:center;
            }
            .amount-per-month {
              width: 130px;
              margin-right: 20px;
              text-align:right;
            }
            .annual-growth-rate {
              width: 54px;
              margin-right: 20px;
              text-align:right;
            }

            .save-calc-btn {
              position: absolute;
              right: 30px;
              top: 42px;
              border-radius: 40px;
              font-weight: 500;
              display: flex;
              i {
                font-size: 1rem;
                margin-right: 0.5rem;
              }
            }
          }

          .upload-file-btn {
            position: absolute;
            right: 30px;
            top: 42px;
            border-color: #eaecef;
          }

          .custom-values-bar {
            position: absolute;
            top: 80px;
            width: 100%;
            background-color: white;
            padding: 10px 0;
            & > div {
              padding: 0px 20px;
              margin: 0px 10px;
              padding: 0 20px;
              &.bar-disable-color {
                background-color: #F8F8F8;
                border: 1px dashed #D8D8D8;
              }
              &.bar-enable-color {
                background-color: rgba(54,179,126,0.1);
                border: 1px dashed #36B37E;
              }
            }

            .alert {
              border: 1px dashed;
              border-radius: unset;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

      }
    }

    &.edit-info-card {

      .card-body {
        padding: 30px 15px 33px;
      }
    }
  }

  // customize table
  .table-container {
    padding: 30px 20px;
    font-size: 14px;

    table {
      th {
        padding-top: 18px;
        padding-bottom: 18px;
        background: white;
        box-shadow: 9px 8px 16px 0 rgba(0,0,0,0.07);
        outline: none;
        border: none;
      }

      tbody {
        tr {
          border-bottom-style: dotted;
          border-bottom-width: 2px;
          border-bottom-color: #CACACA;

          // &:nth-of-type(odd) {
          //   background-color: #F1F2F8 !important;
          // }

          &:hover {
            background: #FAFBFC !important;
          }

          &.b-table-top-row {
            border: none;
            td {
              width: 100%;
              padding: 0;
              input {
                border: none;
              }
            }
          }

          td {
            vertical-align: middle;
            padding-top: 6px;
            padding-bottom: 6px;

            .amount-per-month {
              width: 130px;
              margin-right: 20px;
              text-align:right;
            }

            .hide-element {
              display: none
            }
          }
        }

      }
    }

    ul[aria-label="Pagination"] {
      display: flex;
      align-items: center;

      .page-link {
        background: transparent;
        font-size: 13px;
        line-height: 13px;
        border: none;
        color: #4A4A4A;
        display: inline;
      }

      .page-item.active .page-link {
        border-radius: 50%;
        background: #525670;
        color: white;
      }
    }

    .selectPerPage {
      width: 60px;
      background-color: transparent;
      border: none;
    }
  }

  // customize slider
  .slider {
    -webkit-appearance: none;
    width: 100%;
    background: #C1C7D0;
    outline: none;
    height: 1px !important;
    padding: 0;
    margin-top: 23px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url('../../../assets/img/slider.png');
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
    height: 16px;
    width: 16px;
    background-size: 16px;
  }

  .slider::-moz-range-thumb {
    background: url('../../../assets/img/slider.png');
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
    height: 16px;
    width: 16px;
    background-size: 16px;
  }

  .slider::-ms-thumb {
    background: url('../../../assets/img/slider.png');
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
    height: 16px;
    width: 16px;
    background-size: 16px;
  }

  .slider:focus::-ms-fill-lower {
    background: #888;
  }
  .slider:focus::-ms-fill-upper {
    background: #ccc;
  }

  // customize csv download button
  .csvdownload {
    > button {
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      border-radius: 30px;
      outline: none;
      padding: .25rem .5rem;
      cursor: pointer;
      border: 1px solid #eaecef;

      &::before {
        font-family: Flaticons Stroke;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\E55E";
        margin-right: .5rem;
        color: #0065ff;
      }
    }

    &[disabled="disabled"] {
      > button {
        pointer-events:none;
      }
    }

    .csvoption {
      display: none
    }
  }

}
