$body-bg: #d9dae7;
$theme-colors: (
  "primary": #0065FF
);

.facebook {
  color: #3C5193;
}

.twitter {
  color: #3CA9FF;
}

.vfooter, .vheader {
  background-color: #525670;
}

.depth-2 {
  box-shadow: 10px 12px 44px 0 rgba(0,0,0,0.25);
}

.secondary-bg-color {
  background-color: #EDEEF6;
}

.text-gray {
  color: #84888F;
}

.elem-active {
  opacity: 1 !important;
  border-bottom: 4px solid #36B37E;
  padding-left: 15px;
}

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
