.what-if {
  color: white;
  .clickable {
    cursor: pointer;
  }

  .header {
    background-color: #525670;
    padding: 20px;

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .main {
    background-color: #525670;
    padding: 28px 18px;
    border-top: 1px solid #404A65;

    span {
      font-size: 14px;
      line-height: 20px;
    }

    .type-label {
      font-size: 16px;
      line-height: 24px;
    }

    .change-item {

      .slider {
        margin-top: 30px;
        margin-right: 8px;
      }

      .white-label {
        background: #FAFBFC;
        color: #2C343F;
        border-radius: 4px;
        padding: 10px;
        min-width: 88px;
      }
    }
  }

  .footer {
    padding: 20px;
    background-color: #404A65;

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
