.login {
  height: calc(100vh - 102px);
  max-width: 1440px;
  min-height: 900px;
  overflow: auto;

  .main {
    height: 446px;

    form {
      width: 381px;
      padding: 58px 30px 65px;
      margin-top: 146px;

      button[type="submit"] {
        font-weight: 600;
        height: 3rem;
        font-size: 14px;
      }

      .invalid-feedback {
        position: absolute;
      }

      .idInputContainer {
        position: relative;
        img {
          position: absolute;
          right: 12px;
          top: 12px;
        }
      }
    }

    ul {
      list-style: none;
      margin-right: 114px;

      li {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin: 24px 0;
        opacity: 0.59;
        color: #383838;
        display: table;
        cursor: pointer;

        &:after {
          border-bottom: 4px solid #36B37E;
          padding-left: 15px;
          display:block;
          content: '';
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &[class="elem-active"] {
          opacity: 1;
        }
        &[class="elem-active"]:after {
          transform: scaleX(1);
        }
      }
    }
  }

  .bottom {
    ul {
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      li {
        cursor: pointer;
      }
    }
  }
}
